@{
    ViewBag.Title = "About";
}
<h2>О программе.</h2>

<p>
    ASN - это социальный центр и центр связи. Объединяйте и управляйте всей своей социальной сетью, электронной почтой и
    прямыми сообщениями в одном месте.
</p>
<p>
    Агрегаторы социальных сетей решают одну задачу – помогают читать контент сразу нескольких социальных сетей на одной странице.
    Некоторые из этих веб-инструментов и мобильных приложений позволяют также обновлять контент социальных сетей.
    Необходимость иметь одно универсальное приложение для нескольких социальных медиа – просто необходимость для
    занятого и онлайн-активного пользователя.
</p>
