@{
    ViewBag.Title = "Contact";
}
<h2>Контакты.</h2>

<address>
    Тышевич Е.Ф.<br />
    г.Витебск<br />
    <abbr title="Phone">P:</abbr>
    +375(29)717-07-39
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:ty_mister@rambler.ru">ty_mister@rambler.ru</a><br />
    <strong>Mаркетинг:</strong> <a href="mailto:ty_mister@rambler.ru">ty_mister@rambler.ru</a>
</address>