@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Все ваши социальные сети в одном месте!</h1>
    <p class="lead">Выберите вашу социальную сеть из представленных:</p>
    <div class="row col-md-12">
        <form action="#" method="post">
            <button type="submit" id="fbLogin" class="social-icon facebook" title="Facebook" onclick="onFBLogin()"></button>
            <button type="submit" id="vkLogin" class="social-icon vk" title="Vkontakte log" onclick="onVKLogin()"></button>
            <button type="button" id="#" class="social-icon google" title="Google" ></button>
            <button type="button" id="#" class="social-icon linked" title="Linked" ></button>
            <button type="button" id="#" class="social-icon inst" title="Instagram" ></button>
            <button type="button" id="#" class="social-icon ok" title="OK" ></button>
            <button type="button" id="#" class="social-icon twit" title="Twitter" ></button>
            <button type="submit" id="#" class="social-icon youtube" title="Youtub" ></button>
        </form>
    </div>
    <h5>* Если у вас нет аккаунтов в социальных сетях, создайте хотябы один.</h5>

    <table class="contTable" cellspacing="0" cellpadding="10" id="tableContext" style="display: none">
        <tr>
            <td rowspan="2" width="20%">
                <ul>
                    <li style="margin: -50px 0px -50px -40px;">
                        <div class="profile" id="profileFB"></div>
                        <div class="profile" id="profileVK"></div>
                        <div>
                            <span style="font-size: large;">Напишите о чём думаете:</span>
                            <input type="text" value="" id="mytext">
                            <input type="button" onclick="onFBpost()" value="Опубликовать" />
                        </div>
                    </li>
                </ul>
            </td>
            <th>
                <ul class="nav navbar-nav">
                    <li class="nav-menu dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Моя стена</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#" onclick="onFBfeed()">Моя стена FB</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="onVKfeed()">Моя стена VK</a>
                        </div>
                    </li>
                </ul>
            </th>
            <th>
                <ul class="nav navbar-nav">
                    <li class="nav-menu dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Друзья</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#" onclick="onFBfriends()">Друзья FB</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="onVKfriends()">Друзья VK</a>
                        </div>
                    </li>
                </ul>
            </th>
            <th>
                <ul class="nav navbar-nav">
                    <li class="nav-menu dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сообщения</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#">Сообщения FB</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" id="dialogsVK">Сообщения VK</a>
                        </div>
                    </li>
                </ul>
            </th>
            <th>
                <ul class="nav navbar-nav">
                    <li class="nav-menu dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Новости</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#">Новости FB</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="onVKnews()">Новости VK</a>
                        </div>
                    </li>
                </ul>
            </th>
        </tr>
        <tr>
            <td colspan="4">
                <div style="background-color: rgba(221, 221, 221, 0.8);/*цвет заливки фона*/
                    border: 1px solid rgba(109, 8, 84, 0.9);/* размер и цвет границы блока */
                    height: 800px;/*высота*/
                    width: 800px;/*ширина*/
                    margin: -8px -8px -8px -8px;/*отступ от верхнего края, левого, нижнего, правого.*/
                    border-radius:5px; /*-закругляем углы*/
                    overflow-y: hidden;  /*свойство для прокрутки по горизонтали. Автоматом, если больше блока */
                    overflow-x: auto;
                    /*overflow:auto;*/
                    font-size: 16px;/*размер шрифта*/
                    line-height: 1.4;/*межстрочный интервал*/
                    color: #080808;/*цвет шрифта*/">
                    <table>
                        <tr>
                            <td><div style="overflow: auto; width: 350px; height: 800px;" id="friendsFB"></div></td>
                            <td><div style="overflow: auto; width: 350px; height: 800px;" id="friendsVK"></div></td>
                            <td><div style="overflow: auto; width: 380px; height: 800px;" id="feedFB"></div></td>
                            <td><div style="overflow: auto; width: 380px; height: 800px;" id="feedVK"></div></td>
                            <td><div style="overflow: auto; width: 380px; height: 800px;" id="newsVK"></div></td>
                            <td><div style="overflow: auto; width: 350px; height: 800px;" id="drowdialogsVK"></div></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

@section Content {
    <div class="container body-content">
        <div class="block_funtional">
            <div class="table">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <img src="~/Images/Functional_Icon/Social_Aggregation.jpg" class="img_center" />
                        <h2>Агрегатор соцсетей</h2>
                        <p>Все обновления, фотографии и видеоролики из ваших контактов из других сетей.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/Functional_Icon/Email Aggregation.jpg" class="img_center" />
                        <h2>Почтовый агрегатор</h2>
                        <p>Объединяйте и управляйте всеми сообщениями электронной почты.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/Functional_Icon/Onlinne Identity.jpg" class="img_center" />
                        <h2>Интернет-идентичность</h2>
                        <p>Все ваши обновления из доступных соцсетей в одном месте.</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4 row_exchenge">
                        <img src="~/Images/Functional_Icon/Communication Center.jpg" class="img_center" />
                        <h2>Центр связи</h2>
                        <p>Поместите в свои любимые сети, сообщения своим контактам, например, комментарии, ответ, ретвит, любимый и многое другое.</p>
                    </div>
                    <div class="col-md-4 row_exchenge">
                        <img src="~/Images/Functional_Icon/Filters and Lists.jpg" class="img_center" />
                        <h2>Фильтры и списки</h2>
                        <p>Фильтровать обновления, фотографии и видео по сети, типу, контакту, спискам Facebook и Вконтакте т.д.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/Functional_Icon/Multiple Accounts.jpg" class="img_center" />
                        <h2>Несколько учетных записей</h2>
                        <p>Подключите несколько учетных записей из любой сети, включая Facebook, Вконтакте, Twitter, LinkedIn и другие.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
