<ul class="nav navbar-nav navbar-right">
    <li><h5 style="margin:18px; color:#999999">Выйти из соцсети:</h5></li>
    <li><button type="button" id="fbLogout" class="social-icon-32 facebook-32" title="Facebook Logout" onclick="onFBLogout()" style="margin:8px 10px 8px 0px"></button></li>
    <li><button type="button" id="vkLogout" class="social-icon-32 vk-32 unlog" title="Vkontakte Logout" onclick="onVKLogout()" style="margin:8px 10px 8px 10px"></button></li>
</ul>

